<!DOCTYPE html>
<html>

<head>
style 
    include ../css/abhi.css
    <title>Abhishek is a good programmer </title>
</head>

<body>
    nav 
        div: ul 
            li: a(href="http://", target="_blank", rel="noopener noreferrer")  Home 
            li: a(href="http://", target="_blank", rel="noopener noreferrer")  About 
            li: a(href="http://", target="_blank", rel="noopener noreferrer")  Services
</body>

</html>